.position-form{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: justify;
}
.position-input-elements{
    padding: 20px;
}
label{
    padding: 20px;
}
.position-submit{
    margin-left:12%;
}
.disable-submit{
    display: none;
}